<html>
	<head>
		<title>Noise Logger</title>
		<link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<style type="text/css">
fieldset {
	display: block;
	margin: 3em 0;
	border: 0;
}

.hidden {
	display: none;
}
		</style>

	</head>
	<body>
		{{{body}}}
		<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
		<script src="/semantic/semantic.min.js"></script>
		{{#each scripts}}
		<script src="{{this}}"></script>
		{{/each}}
	</body>
</html>
