<div class="ui text container" style="margin: 5em 0">
	<h1 class="ui header dividing">Noise Logger <a class="ui small button basic" href="/log/view">View Collected Data</a></h1>

	<p>
		This is a noise logger to support the petition at <a href="https://www.change.org/p/rsaf-interruption-of-daily-life-due-to-sounds-of-military-airplanes">change.org</a>, a grassroot effort to consolidate feedback and quantitative data to build a case for reducing/mitigating noise from military aircrafts operating out of Paya Lebar Airbase. <a href="https://www.change.org/p/rsaf-interruption-of-daily-life-due-to-sounds-of-military-airplanes">Read more about this effort</a>. 
	</p>

	<form action="/" method="post" class="ui large form">

		<fieldset class="">

			<h2 class="ui">Identity</h2>

			<p>
				Your device will remember your input in these fields next time. <br>This information is used only to correlate your submitted data.
			</p>

			<div class="two fields">

				<div class="ui field">
					<label for="name"><span>Name (pseudonym ok)</span>
						<input type="text" name="name" placeholder="Mr. Tan">
					</label>
				</div>

				<div class="ui field">
					<label for="location"><span>Postal Code/Street Address</span>
						<input type="text" name="location" placeholder="541313">
					</label>
				</div>

			</div>
		</fieldset>

		<fieldset>
			<h2 class="ui">Log Incident</h2>
			<div class="ui field">
				<label for="datetime"><span>Time</span>
					<input type="text" name="datetime" disabled>
				</label>
				<input type="hidden" name="truedatetime">
			</div>

			<div class="ui stackable grid">

				<div class="row">
					<div class="eight wide column">

						<div class="ui field">
							<label><span>Duration</span></label>
							<input type="text" name="duration" disabled placeholder="Click start to start time">
						</div>

						<div class="ui field">
							<button class="ui labeled icon button hidden" data-action="stop-watch"><i class="stop icon"></i> Stop</button>
							<button class="ui labeled icon button" data-action="start-watch"><i class="play icon"></i> Start</button>
						</div>
					</div>

					<div class="eight wide column">

						<div class="ui field">
							<label><span>Loudness Rating</span></label>

							<div class="five fields large">

								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="loudness" value="1"><label>1</label>
									</div>
								</div>

								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="loudness" value="2"><label>2</label>
									</div>
								</div>

								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="loudness" value="3"><label>3</label>
									</div>
								</div>

								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="loudness" value="4"><label>4</label>
									</div>
								</div>

								<div class="field">
									<div class="ui radio checkbox">
										<input type="radio" name="loudness" value="5"><label>5</label>
									</div>
								</div>

							</div>


							<div class="ui segment">
								<h5>Loudness Reference:</h5>
								<ol>
									<li>Telephone ringing</li>
									<li>Power tools, drilling, renovation </li>
									<li>Loud motorcycle speeding</li>
									<li>Loud rock concert</li>
									<li>Discomfort &amp; pain in ear</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
		</fieldset>

		<fieldset class="ui grid centered">
			<div class="row">
			<div class="ui positive message hidden confirmation">
				<div class="header">
					Thank you
				</div>
				<p>Your submission has been received</p>
			</div>
			</div>
			<div class="row">
			<input type="submit" class="ui primary button massive" value="Submit">
			</div>

		</fieldset>
	</form>
			</div>
